*{
    margin:0;
    box-sizing: border-box;
}


.box{
    width : 20%;
    height: 25%;
    border: 1px solid green; 
    float : left;
    padding: 5px;
}
#container{
    height : 300px;
    width :400px;

}
.text{
    text-align: center;


}